body{
    font-size:20px;
}
b{
    font-size: 4rem ;
    margin: 30px;
}
.container{
    width:300px;
    height: 500px;
    padding: 20px;
    border:1px solid rgba(138, 138, 138, 0.568);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column  ;
}
input{
    justify-self: center;
    margin:5px;
    padding: 5px;
    display: block;
    font-size: 14px;
}
#uid{
    /* text-decoration: none;
    border: none; */
    font-size: 12px;
    width: 290px;
    height: 25px;
    border-color: #00000057;
    border-width: 1px;
    
}
#pwd{
    font-size: 12px;
    width: 290px;
    height: 25px;
    border-color: #00000057;
    border-width: 1px;
}
#submit{
    width: 300px;
    height: 30px;
    font-size: 15px;
    align-self: center;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    border-color: #c2dffa00;
    
}
form{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    
}
#forget_pass{
    width: 300px;
    height: 30px;
    font-size: 15px;
    align-self: left;
    background-color: #0094f600;
    color: #0095f6;
    border: none;
  

}